<footer class="footer" role="contentinfo">
    <p class="copyright">
        Website developed by <a target="_blank" href="https://telegram.me/finnito">@finnito</a> and managed by the Enlightened Community.
    </p>
</footer>
<noscript>
    <img src="https://analytics.lesueur.nz/matomo.php?idsite=4&amp;rec=1" style="border:0" alt="" />
</noscript>