<div class="wrapper">

    <!-- header -->
    <header class="header" role="banner">
        <div class="logo-container">
            <img src="{{ image_path('theme::img/logo.png') }}" alt="Logo" class="logo-img">
        </div>
        <div>
            <h1>ArcDocs</h1>
        </div>
        <div>
            <button class="hamburger hamburger--arrowalt-r
" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

    </header>
    <div id="mobile-toc">
    </div>
