<!-- Locale -->
<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- To the Future! -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="{{ trans(template.meta_description) }}"/>

{% block ogdata %}
    <meta property="og:site_name" content="{{ template.get('og_site_name', setting_value('streams::name', config_get('streams::distribution.name'))) }}"/>
    <meta property="og:description" content="{{ template.get('og_description', trans(template.meta_description)) }}"/>
    <meta property="og:title" content="{{ template.get('og_title', trans(template.meta_title)) }}"/>
    <meta property="og:url" content="{{ template.get('og_url', url_current()) }}"/>
    <meta property="og:image" content="{{ template.get('og_image') }}"/>
    <meta property="og:type" content="website"/>
{% endblock %}

<title>
    {{ setting_value('streams::name', config_get('streams::distribution.name')) }}
    &#8250;
    {{ trans(template.meta_title) }}
</title>

<!-- Favicon -->
{{ favicons("theme::img/logo.png") }}

{{ asset_add("styles.css", "theme::css/styles.css") }}

{# Include Asset Collections #}
<style type="text/css">
    {{ asset_inline("styles.css") }}
</style>


{# Important!! #}
{{ constants() }}

<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
<!--<![endif]-->

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        // Construct Table of Contents
        var toc = document.querySelector("#toc");
        var mobileToc = document.querySelector("#mobile-toc");
        var items = document.querySelectorAll("main h1, main h2, main h3");
        var tocString = "<h1>Contents</h1><ul>";
        for (var i = 0; i < items.length; i++) {
            items[i].setAttribute("id", "title" + i);
            tocString += "<li><a id='link" + i + "' href='#title" + i + "' title='" + items[i].getAttribute("tagName") + "'>" + items[i].innerHTML + "</a></li>";
        }
        tocString += "</ul>";
        toc.innerHTML = tocString;
        mobileToc.innerHTML = tocString;

        // Mobile Nav
        document.querySelector("button.hamburger").addEventListener("click", function() {
            this.classList.toggle("is-active");
            document.querySelector("#mobile-toc").classList.toggle("is-active");
        });
    });
</script>

<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.lesueur.nz/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>