<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body>

{% include "theme::partials/header" %}
    <main role="main">
        <div class="pure-g">
            <div class="pure-u-1-1 pure-u-lg-1-4">
                <div id="toc">
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-lg-3-4 content">
                <section>
                    {% block content %}{% endblock %}
                </section>
            </div>
        </div>
    </main>
{% include "theme::partials/footer" %}

</body>
</html>
